sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '14'
install:
  - npm i npminstall && npminstall
script:
  - npm run ci
after_script:
  - npminstall codecov && codecov
services:
  - mysql
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test1;'
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test2;'
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test3;'
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test4;'
